
  
<style>
    
</style>

<div class="Test112 nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active">Home</a>
    <a class="nav-link">Profile</a>
    <a class="nav-link">Messages</a>
    <a class="nav-link">Settings</a>
</div>