@using BikeStore.core.Domain

@{
  ViewData["Title"] = "Detail";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
  <form asp-action="" method="post">
    <div class="card">
      <div class=" card-body">
        <!--   Delelivery method-->
        @await Html.PartialAsync("prlDeleliveryMethod.cshtml")
        <!--   Delelivery method-->
        <!--   Payment method  -->
        @await Html.PartialAsync("prlPaymentMethod.cshtml")
        <!--   Payment method  -->
        
      </div>
   </div>
  </form>


<script>
  $('.CardRadio').on('click', function (e) {
    debugger;
    e.preventDefault();
    let $pThis = $(this),
      $pInput = $pThis.closest('div').find('input');

    $pInput[0].checked = true

  });
</script>