@using BikeStore.core.Domain

@model BikeStore.ViewModels.Order.DetailOrderVM
@{
  ViewData["Title"] = "Detail";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
  <form asp-action="CreateOrder" method="post">
    <div class="card">
      <div class=" card-body">
        <!--   Delelivery method-->
        @await Html.PartialAsync("prlDeliveryMethod.cshtml")
        <!--   Delelivery method-->
        <!--   Payment method  -->
        @await Html.PartialAsync("prlPaymentMethod.cshtml")
        <!--   Payment method  -->
        <!-- ShippingData-->
        @await Html.PartialAsync("prlShippingData.cshtml")
        <!-- ShippingData-->
      </div>
      <button type="submit">sdfcs</button>
   </div>
  </form>


<script>
  $('.CardRadio').on('click', function (e) {
    debugger;
    e.preventDefault();
    let $pThis = $(this),
      $pInput = $pThis.closest('div').find('input');

    $pInput[0].checked = true

  });
</script>