
/* BODY*/
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) a:focus,
body:not(.user-is-tabbing) textarea:focus {
    outline: none;
}


.BsNavbar .nav-item {
    color: black !important;
}
/*================ END ==================*/
body {
    background-color: #f5f5fa;
}

.Test112 {
    background-color: white;
}

    .Test112 .active a,
    .Test112 .active a:hover {
        background-color: blue;
    }

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: blue;
}

.Card_MenuItem {
    min-width: 220px
}

.AccountSetingsBorder {
   
    /*border-top: 1px solid #0000002e;*/
}
/*Disable input tupe number arrow*/
input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.hidden{
  display:none !important;
}

.SelectedBorder {
  border: 1px solid #0fc547;
}