

@model BikeStore.Models.AplicationUser

@{
  ViewData["Title"] = "prlUserLogin";

}

<a asp-action="LogOut" asp-controller="Account" class="dropdown-item">Logout</a>
<a asp-action="UserAccount" asp-controller="User" class="dropdown-item">Konto</a>
<a class="dropdown-item" href="#">Action</a>
<a class="dropdown-item" href="#">Another action</a>
<a class="dropdown-item" href="#">Something else here</a>