
@{
    ViewData["Title"] = "prlUserLogOut";
  
}

<a asp-area="" asp-controller="Account" asp-action="Register" class="dropdown-item">Register</a>
<a asp-area="" asp-controller="Account" asp-action="Login" class="dropdown-item">Log in</a>

