@model BikeStore.ViewModels.Notfication.ForkNotificationVM

@{
    ViewData["Title"] = "CreateForksNotfication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-4">
      <form asp-action="CreateForksNotfication" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-group">
          <label asp-for="Dscr">Opis usterki</label>
          <textarea asp-for="Dscr" class="form-control rounded-0"></textarea>
          <span asp-validation-for="Dscr" class="text-danger"></span>
        </div>
              
        <div class="form-group">
          <label asp-for="ForkModel" class="control-label"></label>
          <input asp-for="ForkModel" class="form-control" />
          <span asp-validation-for="ForkModel" class="text-danger"></span>
        </div>
        <div class="form-group">
         <label>Zdjecia</label>
          <input name="xFiles" type="file" multiple class="custom-file" />
         
        </div>
        <div class="form-group">
          <input type="submit" value="Create" class="btn btn-default" />
        </div>
      </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

