@model BikeStore.ViewModels.Shop.DetailProductVM
<div class="row">
  <div class="col-6">
    @await Html.PartialAsync("prlDetailProductGallery.cshtml", Model.ProductImages)
  </div>
  <div class="col-3">

  </div>
  <div class="col-3">

  </div>
</div>
