
@{
    ViewData["Title"] = "RegisterSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Thank you for registering on our website</h3> <a asp-action="Login" asp-controler="Account">Login</a>

                                                      